html,
body,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

body {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.row {
  display: flex;
  align-items: center;
  gap: 15px;

  margin-top: 12px;
  margin-left: 20px;
}

.center-page,
.content {
  min-height: calc(100vh - 66px - 40px);
}

.content-inner {
  min-height: calc(100vh - 66px);
}

.content,
.content-inner {
  padding: 20px;
}

.center-page {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* form */

.ant-form-item {
  margin-bottom: 8px;
}

/* page */

.title {
  font-size: 24px;
  /*color: #fff;*/
}

.buttonLeft {
  margin-right: 10px;
}
